@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Neonderthaw&family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(Untitled\ design.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#Group_2 {
  /* position: absolute; */
  width: 30.47px;
  height: 33.636px;
  margin-left: 20px;
  margin-bottom: 20px;
  /* top: 23.53px; */
  overflow: visible;
}
#Line_2 {
  fill: transparent;
  stroke: rgba(255,13,13,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2 {
  overflow: visible;
  position: absolute;
  width: 30.47px;
  height: 3px;
  left: 0px;
  top: 6px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
  fill: transparent;
  stroke: rgba(255,13,13,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_3 {
  overflow: visible;
  position: absolute;
  width: 30.47px;
  height: 3px;
  left: 0px;
  top: 15.943px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
  fill: transparent;
  stroke: rgba(255,13,13,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_4 {
  overflow: visible;
  position: absolute;
  width: 30.47px;
  height: 3px;
  left: 0px;
  top: 25.636px;
  transform: matrix(1,0,0,1,0,0);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, rgb(0, 0, 0), #130303);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .iconns {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: "Major Mono Display", monospace;
  font-family: "Neonderthaw", cursive;
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  color: #d0c9c9;
  display: block;
  transition: 0.5s;
}

.sidenav .iconns:hover {
  color: #c23131;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.navigation {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(193, 66, 66);
}
.iconns:hover {
  border-bottom: 4px solid rgb(193, 66, 66);
}
.nav_links {
  list-style: none;
  margin-right: 10px;
  display: flex;
}
li {
  margin-right: 20px;
}
.logo {
  filter: grayscale(100%);
  transition: filter 800ms;
}
.logo:hover {
  filter: grayscale(0%);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #D0C9C9;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgb(221, 69, 69),
    rgba(41, 240, 141, 0.933)
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffeded;
}
#Subtraction_1 {
  opacity: 0.1;
  fill: rgba(255,255,255,1);
  stroke: rgba(255,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: bevel;
  stroke-linecap: square;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Subtraction_1 {
  overflow: visible;
  position: absolute;
  width: 363px;
  height: 153.5px;
  left: 147.5px;
  top: 141.25px;
  transform: matrix(1,0,0,1,0,0);
  z-index: -1;
}

#Line_6 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.116);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  z-index: -1;
}
.Line_6 {
  overflow: visible;
  position: absolute;
  width: 63.13px;
  height: 63.612px;
  z-index: -1;
  left: 147.5px;
  top: 141.25px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_7 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.116);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  z-index: -1;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_7 {
  overflow: visible;
  position: absolute;
  z-index: -1;
  width: 44.134px;
  height: 44.608px;
  left: 147.5px;
  top: 141.25px;
  transform: matrix(1,0,0,1,0,0);
}
