@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Neonderthaw&family=Share+Tech+Mono&display=swap');


* {
  margin: 0;
  padding: 0;
}
body {
 background-image: url(/paralllax2.0/Untitled\ design.png);
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(/paralllax2.0/Your\ paragraph\ text\ \(2\).svg);
   background-repeat: no-repeat;
   background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav .iconns {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
font-family: 'Neonderthaw', cursive;
font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    color: rgb(240, 240, 240);
    display: block;
    transition: 0.5s;
  }
  
  .sidenav .iconns:hover {
    color: #c23131;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.navigation {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.iconns:hover {
  border-bottom: 4px solid rgb(193, 66, 66);
}
.nav_links {
  list-style: none;
  margin-right: 10px;
  display: flex;
}
li {
  margin-right: 20px;
}
.logo {
  filter: grayscale(100%);
  transition: filter 800ms;
}
.logo:hover {
  filter: grayscale(0%);
  cursor: pointer;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
